/*
  index.css
*/

body {
  background: #008cff;
  color: #f1f3f5;
}

.wrapper {
  margin: 0 auto;
  padding: 10px;
  width: 86%;
  background: #f1f3f5;
  border: 1px solid #ddd;
}

.title {
  text-align: center;
  color: #4e4444;
  font-size: 24px;
  line-height: 2em;
}

.bg-with-img {
  margin: 50px auto;
  width: 300px;
  height: 300px;
  border: 1px solid #ddd;
  background: url('../images/mydog.jpg') 50% 50% no-repeat;
  background-size: 250px 250px;
}
